.credit-card {
    margin-top: 100px;
    width: 600px;
    height: 50px;
    border: 1px solid black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.credit-card button {
    margin-top: 20px;
    background-color: rgb(72, 170, 209);
    color: white;
    border: 1px solid transparent;
}