.credit-card {
    margin-top: 100px;
    width: 600px;
    height: 500px;
    border: 1px solid black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.credit-card button {
    margin-top: 20px;
    background-color: rgb(72, 170, 209);
    color: white;
    border: 1px solid transparent;
}

.label-checkout {
    height: 42px;
    padding: 10px 0;
    align-items: center;
    color: #8898aa;
}


/* 
.fieldset {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15), 0 4px 6px 0 rgba(112, 157, 199, 0.15);
    border-radius: 4px;
    border: none;
    font-size: 0;
}

.fieldset label {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 42px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    color: #8898aa;
    font-weight: 400;
} */